---
import ProjectCard from "./ProjectCard.astro";

const projects = [
  {
    title: "ThatMovie",
    description:
      "Plataforma que permite al usuario puntuar y reseñar películas, hacer listas personalizadas de películas y ver información de las mismas haciendo uso de la API de TMDB.",
    image: "/src/assets/project1.png",
    tags: ["Spring Boot", "Angular", "PostgreSQL"],
    liveUrl: "https://that-movie-frontend.vercel.app/login",
    codeUrl: "https://github.com/alexgg9/thatMovie_Frontend.git",
  },
  {
    title: "movie-app",
    description:
      "Aplicación móvil que permite ver información de películas, listas de la API de TMDB y añadir favoritos a tu cuenta de TMDB desde la app.",
    image: "/src/assets/project2.png",
    tags: ["Angular", "Ionic"],
    codeUrl: "https://github.com/alexgg9/movie-app-ionic.git",
  },
  {
    title: "GestionSolicitudes",
    description:
      "Aplicación web para que las empresas puedan solicitar alumnado de formación profesional de SMR, DAM y DAW.",
    image: "/src/assets/proyectosolicitudes.jpg",
    tags: ["Laravel", "React"],
    codeUrl: "https://github.com/alexgg9/gestion-solicitudes-fpdual.git",
  },
];
---

<section id="proyectos" class="fade-in">
  <div class="container">
    <h2 class="section-title">Proyectos</h2>
    <div class="projects-grid">
      {
        projects.map((project) => (
          <ProjectCard
            title={project.title}
            description={project.description}
            image={project.image}
            tags={project.tags}
            liveUrl={project.liveUrl}
            codeUrl={project.codeUrl}
          />
        ))
      }
    </div>
  </div>
</section>

<style>
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
  }
</style>
